<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <%- include('../reuseable/header') %>

    <main class="container">
        <h1> My Shelter Profile </h1>
        <section class="profile-card">
            <header>
                <figure>
                    🏡
                </figure>
                <h2> <%= user.name %> </h2>
                <p> <%= user.role %> </p>
            </header>

            <hr>
            <section class="profile-information">
                <p> <strong> Username : </strong> <%= user.username %> </p>
                <p> <Strong> Email : </Strong> <%= user.email %> </p>

                <% if (user.phone) {%> 
                    <p> <strong> Phone : </strong> <%= user.phone %> </p>
                
                <%} %>

                <% if (user.city) {%> 
                    <p> <strong> Location : </strong> <%= user.city %> </p>
                
                <%} %>

                <p> <strong> Joined : </strong> 2025 </p>
            </section>

            <nav>
                <a href="/shelter/pets" class="button secondary"> Manage Pets </a>
                <a href="/shelter/applications" class="button secondary"> View Applications </a>
            </nav>
        </section>
    </main>

    <%- include('../reuseable/footer') %>


</body>
</html>